<!DOCTYPE html>
<html lang='en' data-ng-app='pharzone'>
  <head>
    <title>pharzone</title>
    <meta name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes'>
    <!-- inject:head:js -->
    <!-- endinject -->
    <!-- inject:html -->
    <!-- endinject -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body>

    <div data-top-bar>
      <ul class='title-area'>
        <li class='name'>
          <h1>
            <a href='#/'>pharzone</a>
          </h1>
        </li>
        <li class='menu-icon' data-toggle-top-bar>
          <a href='#/'>
            <span></span>
          </a>
        </li>
      </ul>

      <div data-top-bar-section>
        <ul class='left'>
          <li data-ui-sref-active='active'>
            <a data-ui-sref='pharzone.home'>Home</a>
          </li>
          <li data-ui-sref-active='active'>
            <a data-ui-sref='pharzone.shop.list'>Shop</a>
          </li>
          <li data-ui-sref-active='active'>
            <a data-ui-sref='pharzone.dashboard'>Dashboard</a>
          </li>
          <li data-ui-sref-active='active'>
            <a data-ui-sref='pharzone.cart'>Cart</a>
          </li>
        </ul>
        <ul class='right'>
          <li>
            <a href="" ng-if="$root.user" ng-click="$root.unauth()">Logout</a>
          </li>

        </ul>
      </div>
    </div>
    <div data-ui-view>

    </div>

    <!-- bower:js -->
    <!-- endbower -->
    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
